<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do list</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1><%= kindofday %></h1>
  </div>

  <div class="box">
    <%   listitem.forEach(function(item){ %>
      <form  action="/delete" method="post">
        <div class="item">
          <input name="checkfield" value="<%= item._id %>" type="checkbox" onchange="this.form.submit()">
          <p> <%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= kindofday %>"></input>
      </form>

    <%  }); %>
    <form class="item" action="/" method="post">
      <input type="text" name="text_entered" value="" placeholder="enter new item" autocomplete="off">
      <button type="submit" value="<%= kindofday %>" name="button">+</button>
    </form>
  </div>
</body>
</html>
